<%- contentFor('title') %>
Control devices

<%- contentFor('content') %>
<div class="row">
  <div class="col">
    <h1>Control Device</h1>
    <h2>Select a device to control:</h2>
    <div class="list-group">
      <% devices.forEach(function(device){ %>
        <a class="list-group-item list-group-item-action" href="/devices/control/<%= device.id %>"><%= device.name %></a>
      <% }); %>
    </div>
  </div>
</div>
