<%- contentFor('title') %>
Delete devices

<%- contentFor('content') %>
<div class="row">
  <div class="col">
    <h1>Delete Device</h1>
    <h2>Select a device to delete:</h2>
    <div class="list-group">
      <% devices.forEach(function(device){ %>
        <form action="/devices/delete/<%= device.id %>" method="post">
          <button type="submit" class="list-group-item list-group-item-action"><%= device.name %></button>
        </form>
      <% }); %>
    </div>
  </div>
</div>
