<%- contentFor('title') %>
Add a new device

<%- contentFor('content') %>
<div class="row mb-5">
  <div class="col col-xl-6">
    <h1 class="mb-4">Add a new device</h1>

    <form action="/devices" class="needs-validation" method="post" novalidate>
      <div class="mb-3">
        <label for="deviceNameInputField" class="form-label">Name</label>
        <input type="text" name="name" id="deviceNameInputField" class="form-control" required maxlength="50">
        <div class="invalid-feedback">
          Name is required.
        </div>
      </div>

      <div class="mb-3">
        <label for="deviceTypeSelector" class="form-label">Type</label>
        <select name="type" id="deviceTypeSelector" class="form-select" required>
          <option disabled selected value>Select a type</option>
          <option value="ac">Air Conditioning</option>
          <option value="heater">Heater</option>
          <option value="curtain">Curtain</option>
          <option value="lighting">Lighting</option>
          <option value="tv">TV</option>
          <option value="camera">Security Сamera</option>
          <option value="door_chime">Door Chime</option>
          <option value="thermometer_sensor">Thermometer</option>
          <option value="motion_sensor">Motion Sensor</option>
          <option value="door_open_sensor">Door Open Sensor</option>
        </select>
        <div class="invalid-feedback">
          Type is required.
        </div>
      </div>

      <div class="mb-3">
        <label for="deviceDescriptionInputField" class="form-label">Description</label>
        <textarea rows="3" name="description" id="deviceDescriptionInputField" class="form-control"></textarea>
      </div>

      <div class="mb-3">
        <input name="powerOn" class="form-check-input" type="checkbox" value="1" id="devicePowerOnField">
        <label for="devicePowerOnField" class="form-label">Power On</label>
      </div>

      <div class="mb-3">
        <label for="deviceStatusSelector" class="form-label">Status</label>
        <select name="status" id="deviceStatusSelector" class="form-select" required>
          <option value="ok" selected>Ok</option>
          <option value="alert">Alert</option>
          <option value="opened">Opened</option>
          <option value="closed">Closed</option>
          <option value="error">Error</option>
        </select>
        <div class="invalid-feedback">
          Status is required.
        </div>
      </div>

      <div class="mb-3" id="temperatureSensorOptions">
        <label for="deviceTemperatureSensorValueInputField" class="form-label">Temperature Sensor Value, &#8451;</label>
        <input type="number" name="temperatureSensorValue" id="deviceTemperatureSensorValueInputField" class="form-control" min="-20" max="50">
        <div class="invalid-feedback">
          Should be a number in a range -20-50.
        </div>
      </div>

      <div class="mb-3" id="temperatureTargetOptions">
        <label for="deviceTemperatureTargetValueInputField" class="form-label">Temperature Target Value, &#8451;</label>
        <input type="number" name="temperatureTargetValue" id="deviceTemperatureTargetValueInputField" class="form-control" min="15" max="35">
        <div class="invalid-feedback">
          Should be a number in a range 15-35.
        </div>
      </div>

      <div class="mb-3" id="volumeOptions">
        <label for="deviceVolumeField" class="form-label">Volume, %</label>
        <input type="number" name="volume" id="deviceVolumeField" class="form-control" min="0" max="100">
        <div class="invalid-feedback">
          Should be a number in a range 0-100
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
</div>

<script language="javascript" src="/javascripts/form_validation.js"></script>
<script language="javascript" src="/javascripts/device_type_fields_selector.js"></script>
