<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.css' />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <title>Gader - Smart home manager — <%- defineContent('title') %></title>
  </head>
  <body>
    <div class="container">
      <%- include('_navbar.ejs') %>

      <%- content %>

    <script language="javascript" src="/bootstrap/js/bootstrap.bundle.js"></script>
  </body>
</html>
