<%- contentFor('title') %>
About

<%- contentFor('content') %>
<div class="row">
  <div class="col-3 p-5">
    <img class="img-fluid" src="/images/logo.png" alt="Gader's logo">
  </div>

  <div class="col-9 p-5">
    <h1>About</h1>
    <section class="mb-3">
      <strong>Gader</strong> is a smart home appliance manager designed to simplify device management within a smart home infrastructure. This is an educational project created as a part of a mid term assignment for a <abbr title="Databases, Networks and the Web">DNW</abbr> course.
    </section>

    <section>
      <h2>References</h2>
      <ul>
        <li>
          <a href="https://getbootstrap.com/">Bootstrap</a> licensed MIT, docs CC BY 3.0. by the <a href="https://getbootstrap.com/docs/5.2/about/team/">Bootstrap team</a>
        </li>
        <li>
          <a href="https://www.flaticon.com/free-icons/technology" title="technology icons">Technology icons created by Vitaly Gorbachev - Flaticon</a>
        </li>
        <li>
          <a href="https://expressjs.com/">Express</a> by StrongLoop, IBM, and other expressjs.com contributors. 2017
        </li>
        <li>
          <a href="https://www.npmjs.com/package/mysql2">mysql2</a> 2016 by Andrey Sidorov (sidorares@yandex.ru) and contributors
        </li>
      </ul>
      
      
    </section>
  </div>
</div>


