<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.css' />
    <title>Gader - Smart home manager</title>
  </head>
  <body>
    <div class="container">
      <%- include('_navbar.ejs') %>
    </div>

    <script language="javascript" src="/bootstrap/js/bootstrap.bundle.js"></script>
  </body>
</html>
