<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.css' />
    <title>Gader - Smart home manager</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar bg-light">
        <div class="container-fluid">
          
          <a class="navbar-brand h1" href="/">
            <img src="images/logo.png" alt="Gader logo" height="30px" class="">
            Gader
          </a>

          

        </div>
      </nav>
    </div>


    <script language="javascript" src="/bootstrap/js/bootstrap.bundle.js"></script>
  </body>
</html>
